{% extends 'druids.html' %}

{% block title %}Eco-gnomy: {{ view.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <br />
      <br />
      <table>
	<thead>
	  <tr>
	    <th>Nombre</th>
	    <th>Valor Total</th>
	    <th>Cuota Piso</th>
	    <th>Acciones</th>
	  </tr>
	</thead>
	<tbody>
	  {% for piso in pisos %}
	  <tr>
	    <td>{{ piso.nombre }}</td>
	    <td>{{ piso.valor_total }}</td>
	    <td>{{ piso.cuota_piso }}</td>
	    <td><a href="{% url view.edit_url piso.pk %}"><i class="fi-pencil size-36"></i></a></td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ningún piso creada.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
