{% extends 'druids.html' %}

{% block title %}Eco-gnomy: {{ view.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <br />
      <br />
      <table>
	<thead>
	  <tr>
	    <th>Nombre</th>
	    <th>Descripcion</th>
	    <th>Subtotal</th>
	    <th>Acciones</th>
	  </tr>
	</thead>
	<tbody>
	  {% for balance in balances %}
	  <tr>
	    <td>{{ balance.nombre }}</td>
	    <td>{{ balance.descripcion }}</td>
	    <td>{{ balance.subtotal }}</td>
	    <td><a href="{% url view.edit_url balance.pk %}"><i class="fi-pencil size-36"></i></a></td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ningún balance creado.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
