{% extends 'druids.html' %}

{% block title %}Eco-gnomy: {{ view.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <h3> Desde {{ balance.fecha_de_inicio }} hasta {{ balance.fecha_de_final }} </h3>
      <br />
      <br />
      <h3> Subtotal: {{ balance.subtotal }} </h3>
      <br />
      <br />
      <h4> Entradas </h4>
      <table>
	<thead>
	  <tr>
	    <th>Fecha</th>
	    <th>Descripcion</th>
	    <th>Importe</th>
	  </tr>
	</thead>
	<tbody>
	  {% for entrada in balance.entradas %}
	  <tr>
	    <td>{{ entrada.fecha }}</td>
	    <td>{{ entrada.get_tipo_display }}</td>
	    <td>{{ entrada.importe }}</td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ningúna entrada para estas fechas.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      <br />
      <br />
      <h4> Salidas </h4>
      <table>
	<thead>
	  <tr>
	    <th>Fecha</th>
	    <th>Descripcion</th>
	    <th>Importe</th>
	  </tr>
	</thead>
	<tbody>
	  {% for salida in balance.salidas %}
	  <tr>
	    <td>{{ salida.fecha }}</td>
	    <td>{{ salida.get_tipo_salida_display }}</td>
	    <td>{{ salida.importe }}</td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ningúna salida para estas fechas.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
