{% extends 'druids.html' %}

{% block title %}Eco-gnomy: {{ view.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <br />
      <br />
      <table>
	<thead>
	  <tr>
	    <th>Nombre</th>
	    <th>Cuota de Mantenimiento</th>
	    <th>Fecha de Entrada</th>
	    <th>Fecha de Salida</th>
	    <th>Acciones</th>
	  </tr>
	</thead>
	<tbody>
	  {% for persona in personas %}
	  <tr>
	    <td>{{ persona.nombre }}</td>
	    <td>{{ persona.cuota_mantenimiento }}</td>
	    <td>{{ persona.fecha_de_entrada }}</td>
	    <td>{% if persona.fecha_de_salida %}{{ persona.fecha_de_salida }}{% else %}---{% endif %}</td>
	    <td><a href="{% url view.edit_url persona.pk %}"><i class="fi-pencil size-36"></i></a></td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ninguna persona creada.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
