{% extends 'druids.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <h1>{{ title }}</h1>

   </div>
   </div>

<style>

.axis path,
.axis line {
  fill: none;
  stroke: #8E12C3;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.text {

  color: #8E12C3;
}
.line {
  fill: none;
  stroke: #F5F10E;
  stroke-width: 3px;
}
</style>
  
  
<div class="row">
  <div class="medium-12 large-12 columns">
    <fieldset>
      <legend>Entradas y salidas</legend>
      <div class="left" id="entradas-pie"></div><div class="right" id="salidas-pie"></div>
    </fieldset>
    <fieldset>
      <legend>Balance en el tiempo</legend>
      <div id="balance-tiempo">
      </div>
    </fieldset>
    <div class="row">
      <h3>Total balance: {{ total }}</h3>
    </div>
  </div>
</div>

{% endblock content %}

{% block body_js %}

<script src="{% static 'druids/js/d3/d3.min.js' %}">
  
</script>
  

<script>

// generate data from JSON

d3.json("{% url 'druids:api-entradas-pie' %}", function(error, json) {
  if (error) return console.warn(error);
  data = json;

var margin = {top: 5, right: 5, bottom: 5, left: 5};
   width = 300 - margin.left - margin.right;
   height = width - margin.top - margin.bottom;

var totalValue = 0;

 data.forEach (function (d){
  totalValue += d.value;
 })


var chart = d3.select("#entradas-pie")
    .append("svg:svg")
    .data([data])
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("svg:g")
    .attr("transform", "translate(" + ((width/2)+margin.left) + "," +
                                      ((height/2)+margin.top) + ")");
    chart.append("text")
   .attr("text-anchor", "middle")
   .style("fill", "#DAD711")
   .style("font-weight", "bold")
   .style("font-size","34px")
   .text("€ " + totalValue);


var radius = Math.min(width, height) / 2;

var color = d3.scale.ordinal()
    .range(["#CB28B2", "#9C1288", "#EB17C8", "#260220", "#0F050D","#E0AAD8","#AA5E9F","#93678D"]);

var arc = d3.svg.arc()
    .outerRadius(radius)
    .innerRadius(radius - 20);

var pie = d3.layout.pie()
    .sort(null)
    .startAngle(1.1*Math.PI)
    .endAngle(3.1*Math.PI)
    .value(function(d) { return d.value; });

var g = chart.selectAll(".arc")
   .data(pie)
   .enter().append("svg:g")
    .attr("class", "arc")
    
  /*  
    chart.selectAll(".dataText")
   .data(data)
   .enter().append("text")
   .attr("class", "dataText")
   .append("textPath")
   .attr("xlink:href",function(d,i){return "#d.data.label"+i;})
   .text(function(d){return d.label;});  
*/


g.append("svg:path")
  .style("fill", function(d) { return color(d.data.label); })
 // .attr("id", function(d,i) { return "d.data.label"+i; })
  .transition().delay(function(d, i) { return i * 500; }).duration(500)
  .attrTween('d', function(d) {
       var i = d3.interpolate(d.startAngle+0.1, d.endAngle);
       return function(t) {
           d.endAngle = i(t);
         return arc(d);
       }
  });


});


</script>

<script>
// generate data from JSON

d3.json("{% url 'druids:api-salidas-pie' %}", function(error, json) {
  if (error) return console.warn(error);
  data = json;


var margin = {top: 5, right: 5, bottom: 5, left: 5};
 width = 300 - margin.left - margin.right;
 height = width - margin.top - margin.bottom;

 var totalValue = 0;

 data.forEach (function (d){
  totalValue += d.value;
 })

    

var chart = d3.select("#salidas-pie")
    .append("svg:svg")
    .data([data])
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("svg:g")
    .attr("transform", "translate(" + ((width/2)+margin.left) + "," +
                                      ((height/2)+margin.top) + ")");
    chart.append("text")
   .attr("text-anchor", "middle")
   .style("fill", "#DAD711")
   .style("font-weight", "bold")
   .style("font-size","34px")
   .text("€ " + totalValue);



var radius = Math.min(width, height) / 2;


//var key = function(d){ return d.data.label; };

var color = d3.scale.ordinal()
   // .domain(["Lorem ipsum", "dolor sit", "amet", "consectetur", "adipisicing"])
    .range(["#CB28B2", "#9C1288", "#D9C7D6", "#260220", "#0F050D","#E0AAD8","#EB17C8","#93678D"]);

    //var text = svg.select(".labels").selectAll("text")
    //.data(pie(data), key);

  //text.enter()
   // .append("text")
    //.attr("dy", ".35em")
   // .text(function(d) {
   // return d.data.label;
    //});

var arc = d3.svg.arc()
    .outerRadius(radius)
    .innerRadius(radius - 20);

var pie = d3.layout.pie()
    .sort(null)
    .startAngle(1.1*Math.PI)
    .endAngle(3.1*Math.PI)
    .value(function(d) { return d.value; });

var g = chart.selectAll(".arc")
   .data(pie)
   .enter().append("svg:g")
    .attr("class", "arc");

   /* chart.selectAll(".dataText")
   .data(data)
   .enter().append("text")
   .attr("class", "dataText")
   .append("textPath")
   .attr("xlink:href",function(d,i){return "#d.data.label"+i;})
   .text(function(d){return d.label;});  
*/

g.append("svg:path")
  .style("fill", function(d) { return color(d.data.label); })
  //.attr("id", function(d,i) { return "d.data.label"+i; })
  .transition().delay(function(d, i) { return i * 500; }).duration(500)
  .attrTween('d', function(d) {
       var i = d3.interpolate(d.startAngle+0.1, d.endAngle);
       return function(t) {
           d.endAngle = i(t);
         return arc(d);
       }
  });
});

</script>

<script>




/*  function getInterpolation(x) {

  return function(d,i,a) {
  
  var interpolate = d3.scale.quantile()
      .domain([0,1])
      .range(d3.range(1, x[0].values.length + 1));

  return function(t) {
    console.log (x[0]);
      var interpolatedLine = x[0].values.slice(0, interpolate(t));
      return line(interpolatedLine);
      }
  }
}
*/
d3.json("{% url 'druids:api-balance-line-graph' %}", function(error, data) {
    if (error) throw error;

    var margin = {top: 10, right: 80, bottom: 30, left: 50},
        width = 960 - margin.left - margin.right,
        height = 320 - margin.top - margin.bottom;

    // change the actual format.
var parseDate = d3.time.format("%Y-%m-%d").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.ordinal()
   // .domain(["Lorem ipsum", "dolor sit", "amet", "consectetur", "adipisicing"])
    .range(["#CB28B2","#F5F10E", "#918F07", "#F5F10E", "#D6EBFD"]);

var xAxis = d3.svg.axis()
    .scale(x)
    .ticks(d3.time.months)
    .tickSubdivide(true)
    .tickFormat(d3.time.format("%b"))
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

// change the parameters names.
var line = d3.svg.line()
    .interpolate("basis")
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.amount); });
// change the color domain
    var keys = []
    data.forEach(function(d) {
  keys.push(d.label);
    });

    color.domain(keys);

// convert date strings into dates
  data.forEach(function(d) {
  d.dates.forEach(function(e,i){
      d.dates[i]=parseDate(e);

  });
    });

    var movimientos = color.domain().map(function(name) {
  values = []

  data.forEach(function(d) {
      if (d.label == name){
    values = d.dates.map(function(elem, i){
        return {date: elem, amount: d.prices[i]}
    });
      }
  });
  return {
      name: name,
      values: values
  };
    });

    var svg = d3.select("#balance-tiempo").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    

    var dates = data.map(function(obj){
  return obj.dates
    });
    dates = [].concat.apply([], dates)
    dates.sort(function(a, b){
      return a -b;
    });
  
var outputFormat = d3.time.format("%Y-%m-%d");
var raw_dates = []
dates.forEach(function(d){
    raw_dates.push(outputFormat(d));
});
var dates_set = d3.set(raw_dates).values();
var dedup_dates = [];
dates_set.forEach(function(d) {
    dedup_dates.push(parseDate(d));
});
//console.log(dedup_dates);

    x.domain(d3.extent(dedup_dates, function(d) {
      return d; }
      ));

    y.domain([
  d3.min(movimientos, function(c) { return d3.min(c.values, function(v) { return v.amount; }); }),
  d3.max(movimientos, function(c) { return d3.max(c.values, function(v) { return v.amount; }); })
    ]);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height  + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Euros");

    var city = svg.selectAll(".city")
        .data(movimientos)
        .enter().append("g")
        .attr("class", "city");

    var path = svg.selectAll(".city").append("path")
        .attr("class", "line")
  .attr("d", function(d) { 
    return line(d.values); })
        .style("stroke", function(d) { return color(d.name); })

    var totalLength = [path[0][0].getTotalLength(), path[0][1].getTotalLength()];
    d3.select(path[0][0])
        .attr("stroke-dasharray", totalLength[0] + " " + totalLength[0] )
        .attr("stroke-dashoffset", totalLength[0])
        .transition()
           .duration(8000)
           .ease("linear")
          .attr("stroke-dashoffset", 0);

    d3.select(path[0][1])
        .attr("stroke-dasharray", totalLength[1] + " " + totalLength[1] )
        .attr("stroke-dashoffset", totalLength[1])
        .transition()
            .duration(8000)
            .ease("linear")
            .attr("stroke-dashoffset", 0);
        
    city.append("text")
        .datum(function(d) { 
        return {name: d.name, value: d.values[d.values.length - 1]}; })
        .attr("transform", function(d) { return "translate(" + x(d.value.date) + "," + y(d.value.amount) + ")"; })
        .attr("x", 3)
        .attr("dy", ".35em")
        .text(function(d) { return d.name; })

});
 
</script>

<script>
/*var margin = {top: 10, right: 80, bottom: 30, left: 50},
width = 960 - margin.left - margin.right,
height = 320 - margin.top - margin.bottom;

// change the actual format.
var parseDate = d3.time.format("%Y-%m-%d").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.category10();

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

// change the parameters names.
var line = d3.svg.line()
    .interpolate("basis")
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.amount); });

  function getInterpolation(x) {

  return function(d,i,a) {
  
  var interpolate = d3.scale.quantile()
      .domain([0,1])
      .range(d3.range(1, x[0].values.length + 1));

  return function(t) {
    console.log (x[0]);
      var interpolatedLine = x[0].values.slice(0, interpolate(t));
      return line(interpolatedLine);
      }
  }
}

d3.json("{% url 'druids:api-balance-line-graph' %}", function(error, data) {
    if (error) throw error;


// change the color domain
    var keys = []
    data.forEach(function(d) {
  keys.push(d.label);
    });

    color.domain(keys);

// convert date strings into dates
  data.forEach(function(d) {
  d.dates.forEach(function(e,i){
      d.dates[i]=parseDate(e);

  });
    });

    var movimientos = color.domain().map(function(name) {
  values = []

  data.forEach(function(d) {
      if (d.label == name){
    values = d.dates.map(function(elem, i){
        return {date: elem, amount: d.prices[i]}
    });
      }
  });
  return {
      name: name,
      values: values
  };
    });

    var svg = d3.select("#balance-tiempo").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    

    var dates = data.map(function(obj){
  return obj.dates
    });
    dates = [].concat.apply([], dates)
    
    x.domain(d3.extent(dates, function(d) { 
      console.log(d);
      return d; }));

    y.domain([
  d3.min(movimientos, function(c) { return d3.min(c.values, function(v) { return v.amount; }); }),
  d3.max(movimientos, function(c) { return d3.max(c.values, function(v) { return v.amount; }); })
    ]);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height  + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Euros");

    var city = svg.selectAll(".city")
        .data(movimientos)
        .enter().append("g")
        .attr("class", "city");

    city.append("path")
        .attr("class", "line")
        .transition()
        .delay(function(d, i) { return i * 2000; })
        .duration(1950)
        .ease("linear")
        .attrTween('d', getInterpolation(movimientos))
       // .attr("d", function(d) { 
         // return line(d.values); })
        .style("stroke", function(d) { return color(d.name); });

        

    city.append("text")
        .datum(function(d) { 
        return {name: d.name, value: d.values[d.values.length - 1]}; })
        .attr("transform", function(d) { return "translate(" + x(d.value.date) + "," + y(d.value.amount) + ")"; })
        .attr("x", 3)
        .attr("dy", ".35em")
        .text(function(d) { return d.name; })

      });

 */
</script>

{% endblock body_js %}
