{% extends "druids.html" %}
{% load staticfiles %}

{% block title %} Dashboard {% endblock title %}


{% block content %}


<style>

.link {

    stroke:#8E12C3;
    stroke-weight: 0.5px;

}

.node {

  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#000;
}

</style>

<style>
circle {
  fill: rgb(156, 18, 136);
  fill-opacity: .25;
  stroke: rgb(80, 8, 70);
  stroke-width: 1px;
}

.leaf circle {
  fill: #F4FC05;
  fill-opacity: .80;
}

text {
 
  font: 10px sans-serif;
}

</style>


<div align="center" id="circle">
  
   <img src="https://gitlab.com/uploads/group/avatar/174341/logo-300.png" alt="Smiley face" height="300" width="300"> 
</div>

{% endblock content %}


{% block body_js %}

<script src="{% static 'druids/js/d3/d3.min.js' %}">
	
</script>

<script>
/*

var margin = 70,
    diameter = 500;

var color = d3.scale.linear()
    .domain([-1, 5])
    .range(["#F4FC05", "#9C1288"])
    .interpolate(d3.interpolateHcl);

var pack = d3.layout.pack()
    .padding(2)
    .size([diameter - margin, diameter - margin])
    .value(function(d) { return d.size; })

var svg = d3.select("body").append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
  .append("g")
    .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

d3.json("{% url 'druids:api-cloud-data' %}", function(error, root) {
  if (error) throw error;

  var focus = root,
      nodes = pack.nodes(root),
      view;

  var circle = svg.selectAll("circle")
      .data(nodes)
    .enter().append("circle")
      .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
      .style("fill", function(d) { return d.children ? color(d.depth) : null; })
      .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

  var text = svg.selectAll("text")
      .data(nodes)
    .enter().append("text")
      .attr("class", "label")
      .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
      .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
      .text(function(d) { return d.name; });

  var node = svg.selectAll("circle,text");

  d3.select("body")
      .style("background", color(-1))
      .on("click", function() { zoom(root); });

  zoomTo([root.x, root.y, root.r * 2 + margin]);

  function zoom(d) {
    var focus0 = focus; focus = d;

    var transition = d3.transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .tween("zoom", function(d) {
          var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
          return function(t) { zoomTo(i(t)); };
        });

    transition.selectAll("text")
      .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
        .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
        .each("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
        .each("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
  }

  function zoomTo(v) {
    var k = diameter / v[2]; view = v;
    node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
    circle.attr("r", function(d) { return d.r * k; });
  }
});

d3.select(self.frameElement).style("height", diameter + "px");

*/

</script>


   <script>
/*
//revisar función relación id, target-source
var diameter = 500;
var radius = diameter / 2;
var margin = 10;
var width= 800;
var height=600;



// Draws an arc diagram for the provided undirected graph
function drawGraph(graph) {
    // create svg image
    var svg  = d3.select("body").select("#circle")
        .append("svg")
        .attr("width", width)
        .attr("height", height);

    // draw border around svg image
    // svg.append("rect")
    //     .attr("class", "outline")
    //     .attr("width", diameter)
    //     .attr("height", diameter);

    // create plot area within svg image
    var plot = svg.append("g")
        .attr("id", "plot")
        .attr("transform", "translate(" + radius + ", " + radius + ")");

    // draw border around plot area
    //plot.append("circle")
    //  .attr("class", "outline")
    //  .attr("r", radius - margin);


    // fix graph links to map to objects instead of indices
    graph.links.forEach(function(d, i) {


	d.source = isNaN(d.source) ? d.source : graph.nodes[d.source];
	d.target = isNaN(d.target) ? d.target : graph.nodes[d.target];


    });



    // calculate node positions
    circleLayout(graph.nodes);

    // draw edges first
    drawLinks(graph.links);
    drawCurves(graph.links);

    // draw nodes last
    drawNodes(graph.nodes);
}

// Calculates node locations
function circleLayout(nodes) {
    // sort nodes by group
    nodes.sort(function(a, b) {
	return a.group - b.group;
    });

    // use to scale node index to theta value
    var scale = d3.scale.linear()
        .domain([0, nodes.length])
        .range([0, 2 * Math.PI]);

    // calculate theta for each node
    nodes.forEach(function(d, i) {
	// calculate polar coordinates
	var theta  = scale(i);
	var radial = radius - margin;

	// convert to cartesian coordinates
	d.x = radial * Math.sin(theta);
	d.y = radial * Math.cos(theta);

    });
}

// Draws nodes
function drawNodes(nodes) {
    // used to assign nodes color by group
    var color = d3.scale.category20b();

    var gnodes = d3.select("#plot").selectAll ("g.gnode")
    .data(nodes)
    .enter()
    .append("g")
    .classed ("gnode", true);

    gnodes.append("circle")
    .attr("class", "node")
        .attr("id", function(d, i) { return d.name; })
        .attr("cx", function(d, i) { return d.x; })
        .attr("cy", function(d, i) { return d.y; })
        .attr("r", 5)
        .style("fill",   function(d, i) { return color(d.group); })
   

    var labels = gnodes.append("text")
    .text(function(d){return d.name})
    .attr("x",function(d,i){return d.x})
    .attr("y", function(d,i){return d.y})
    .attr("dy", ".31em")
    .attr("dx",function(d,i){return d.x < 0 ? 5:-5})
    .attr("text-anchor",function(d){return d.x < 0 ? "end":"start"})
    .attr("transform",function(d){
    	return d.x < 0 ? "rotate(" + Math.atan2(d.y,d.x) +")":"rotate(" + Math.atan2(d.y,d.x)+ ")";})
}

// Draws straight edges between nodes
function drawLinks(links) {

    d3.select("#plot").selectAll(".link")
        .data(links)
        .enter()
        .append("line")
        .attr("class", "link")
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });
}

// Draws curved edges between nodes
function drawCurves(links) {
    // remember this from tree example?
    var curve = d3.svg.diagonal()
        .projection(function(d) { return [d.x, d.y]; });

    d3.select("#plot").selectAll(".link")
        .data(links)
        .enter()
        .append("path")
        .attr("class", "link")
        .attr("d", curve);
}

*/
</script>

    <script>
    //d3.json("{% url 'druids:api-cloud-data' %}", drawGraph);
</script>


<script>

/*
var diameter = 500,
    format = d3.format(",d");

var pack = d3.layout.pack()
    .size([diameter - 4, diameter - 4])
    .value(function(d) { return d.size; });

var svg = d3.select("body").select ("#circle")
    .append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
    .append("g")
    .attr("transform", "translate(2,2)");


d3.json("{% url 'druids:api-cloud-data' %}", function(error, root) {
  if (error) throw error;

  var focus=root,
      nodes=pack.nodes(root),
      view;



  var node = svg.datum(root).selectAll(".node")
      .data(pack.nodes)
      .enter().append("g")
      .attr("class", function(d) { return d.children ? "node" : "leaf node"; })
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
       //.on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

  node.append("title")
      .text(function(d) { return d.name + (d.children ? "" : ": " + format(d.size)); });

  node.append("circle")
      .attr("r", function(d) { return d.r; });

  node.filter(function(d) { return !d.children; }).append("text")
      .attr("dy", ".3em")
      .style("font-weight","bold")
      .style("text-anchor", "middle")
      .text(function(d) { return d.name.substring(0, d.r / 3); });
});

d3.select(self.frameElement).style("height", diameter + "px");

*/

</script>


{% endblock body_js %}







