{% extends "druids.html" %}
{% load druids_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <h1>{{ title }}</h1>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <form method="post">
	{% csrf_token %}
	{% non_field_errors form %}
	{% form_field form.habitante %}
	<button type="submit" class="radius button">Generar informe</button>
      </form>
    </div>
  </div>
</div>
<br />
<br />
{% if habitante %}
<div class="row">
  <div class="medium-10 large-10 columns medium-centered large-centered">
    <h1>{{ habitante.nombre }} - {% if habitante.is_active %}Viviendo en Calafou desde {{ habitante.fecha_de_entrada }}{% else %}Vivió en Calafou desde {{ habitante.fecha_de_entrada }} hasta {{ habitante.fecha_de_salida }}{% endif %}</h1>
    <h2>Estado mantenimiento</h2>
    <strong>Cuotas pagadas: </strong><p>{{ habitante.cuotas_mantenimiento_pagadas }}</p>
    <strong>Deuda mantenimiento: </strong><p>{{ habitante.deuda_mantenimiento }}</p>
    {% if habitante.tiene_pacto_de_piso %}
    <h2>Pactos de reciprocidad por piso</h2>
    {% for pacto in estado_pactos_de_piso %}
    <h3>{{ pacto.nombre }} - {% if pacto.viviendo %}Habitando desde {{ pacto.fecha_entrada }}{% else %} Habitó desde {{ pacto.fecha_entrada }} hasta {{ pacto.fecha_salida }}{% endif %}</h3>
    <strong>Porcentaje pagado: </strong>
    <div class="progress success round">
      <span class="meter" style="width: {{ pacto.porcentaje_pagado }}%">
	<p class="percent">{{ pacto.porcentaje_pagado }}%</p>
      </span>
    </div>
    <strong>Cuotas pagadas: </strong><p>{{ pacto.cuotas_pagadas }}</p>
    <strong>Deuda acumulada: </strong><p>{{ pacto.deuda }}</p>
    <br />
    {% endfor %}
    {% endif %}
    {% if habitante.tiene_pacto_trastero %}
    <h2>Pactos de reciprocidad por piso</h2>
    {% for pacto in estado_pactos_trastero %}
    <h3>{{ pacto.nombre }} - {% if pacto.usando %}Usando desde {{ pacto.fecha_entrada }}{% else %} Usado desde {{ pacto.fecha_entrada }} hasta {{ pacto.fecha_salida }}{% endif %}</h3>
    <strong>Cuotas pagadas: </strong><p>{{ pacto.cuotas_pagadas }}</p>
    <strong>Deuda acumulada: </strong><p>{{ pacto.deuda }}</p>
    <br />
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock content %}
