<div class="field">

  <label for={{ field.auto_id }} {% if field.errors %}class="error"{% endif %}>
    {% if not hide_label %}
    <span>
      {{ field.label }}
      {% if field.field.required %}<b>*</b>{% endif %}
    </span>
    {% endif %}
  </label>

  {{ field }}

  {% if field.errors %}
  <small class="error">
    {% for error in field.errors %}
    {{ error|escape }}<br />
    {% endfor %}
  </small>
  {% endif %}
  
  {% if not hide_help %}
  {% if field.help_text %}
  <p class="help">{{ field.help_text }}</p>
  {% endif %}
  {% endif %}

</div>
