{% extends 'druids.html' %}
{% load druids_tags %}

{% block title %} Eco-gnomy: {{ view.title }} {% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <br />
      <br />
      <form method="post">
	{% csrf_token %}
	{% non_field_errors form %}
	{% form_field form.fecha_salida %}
	{% if view.kind_of == "piso" %}
	{% form_field form.entrada_pagada %}
	{% form_field form.onduline_pagado %}
	{% endif %}
	<button type="submit" class="expand radius button">Validar</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
