{% extends 'druids.html' %}

{% block title %}Eco-gnomy: {{ view.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <br />
      <br />
      <table>
	<thead>
	  <tr>
	    <th>Fecha de Entrada</th>
	    <th>Persona</th>
	    <th>Trastero</th>
	    <th>Fecha de salida</th>
	    <th>Concluir pacto</th>
	  </tr>
	</thead>
	<tbody>
	  {% for pacto in pactos %}
	  <tr>
	    <td>{{ pacto.fecha_entrada }}</td>
	    <td>{{ pacto.persona }}</td>
	    <td>{{ pacto.trastero }}</td>
	    <td>{% if pacto.fecha_salida %}{{ pacto.fecha_salida }}{% else %}---{% endif %}</td>
	    <td>{% if pacto.fecha_salida %}X{% else %}<a href="{% url view.edit_url pacto.pk %}"><i class="fi-pencil size-36"></i></a>{% endif %}</td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ningún pacto de reciprocidad creado.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
