{% extends 'druids.html' %}
{% load druids_tags %}

{% block title %} Eco-gnomy: {{ view.title }} {% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-12 large-12 columns">
    <div class="panel">
      <h2>{{ title }}</h2>
      <br />
      <br />
      <form method="post">
	{% csrf_token %}
	{{ formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>Linea</th>
	      <th>Fecha de Movimiento</th>
	      <th>Tipo de Movimiento</th>
	      <th>Importe</th>
	      <th>Comentarios</th>
	      <th>Registro</th>
	      <th>Usuaria de Economía</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in formset %}
	    <tr>
	      <td>{{ forloop.counter0 }}</td>
	      <td>{% form_field form.fecha %}</td>
	      <td>{% form_field form.tipo_salida %}</td>
	      <td>{% form_field form.importe %}</td>
	      <td>{% form_field form.comentarios %}</td>
	      <td>{% form_field form.registro %}</td>
	      <td>{% form_field form.usuaria_economia %}</td>
	      <td style="display:none;">{{ form.id }}{{ form.DELETE }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<button type="submit" class="expand radius button">Validar</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
