{% extends 'druids.html' %}
{% load druids_tags %}

{% block title %} Eco-gnomy: {{ view.title }} {% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-12 large-12 columns">
    <div class="panel">
      <h2>{{ title }}</h2>
      <br />
      <br />
      <form method="post">
	{% csrf_token %}
	<h3> Pisos <a href="#" class="right round info button tiny" id="add_piso"><i class="fi-plus size-24"></i></a></h3>
	{{ pisos_formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>Fecha de Movimiento</th>
	      <th>Importe</th>
	      <th>Comentarios</th>
	      <th>Registro</th>
	      <th>Pacto</th>
	      <th>Usuaria de Economía</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in pisos_formset %}
	    <tr class="piso_row">
	      <td>{% form_field form.fecha %}</td>
	      <td>{% form_field form.importe %}</td>
	      <td>{% form_field form.comentarios %}</td>
	      <td>{% form_field form.registro %}</td>
	      <td>{% form_field form.habitante_piso %}</td>
	      <td>{% form_field form.usuaria_economia %}</td>
	      <td style="display:none;">{{ form.id }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<h3> Alquileres <a href="#" class="right round info button tiny" id="add_alquiler"><i class="fi-plus size-24"></i></a></h3>
	{{ alquileres_formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>Fecha de Movimiento</th>
	      <th>Importe</th>
	      <th>Comentarios</th>
	      <th>Registro</th>
	      <th>Persona</th>
	      <th>Usuaria de Economía</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in alquileres_formset %}
	    <tr class="alquiler_row">
	      <td>{% form_field form.fecha %}</td>
	      <td>{% form_field form.importe %}</td>
	      <td>{% form_field form.comentarios %}</td>
	      <td>{% form_field form.registro %}</td>
	      <td>{% form_field form.persona %}</td>
	      <td>{% form_field form.usuaria_economia %}</td>
	      <td style="display:none;">{{ form.id }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<h3> Alquiler Trasteros <a href="#" class="right round info button tiny" id="add_trastero"><i class="fi-plus size-24"></i></a></h3>
	{{ trasteros_formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>Fecha de Movimiento</th>
	      <th>Importe</th>
	      <th>Comentarios</th>
	      <th>Registro</th>
	      <th>Pacto</th>
	      <th>Usuaria de Economía</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in trasteros_formset %}
	    <tr class="trastero_row">
	      <td>{% form_field form.fecha %}</td>
	      <td>{% form_field form.importe %}</td>
	      <td>{% form_field form.comentarios %}</td>
	      <td>{% form_field form.registro %}</td>
	      <td>{% form_field form.persona_trastero %}</td>
	      <td>{% form_field form.usuaria_economia %}</td>
	      <td style="display:none;">{{ form.id }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<button type="submit" class="expand radius button">Validar</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block body_js %}
<script>
  $('#add_piso').click(function() {
  cloneMore('tr.piso_row:last', 'pisos');
  });

  $('#add_alquiler').click(function() {
  cloneMore('tr.alquiler_row:last', 'alquileres');
  });

  $('#add_trastero').click(function() {
  cloneMore('tr.trastero_row:last', 'trasteros');
  });
</script>
<script>
  function cloneMore(selector, type) {
  var newElement = $(selector).clone(true);
  var total = $('#id_' + type + '-TOTAL_FORMS').val();
  newElement.find(':input').each(function() {
  var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
  var id = 'id_' + name;
  $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
  });
  newElement.find('label').each(function() {
  var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
  $(this).attr('for', newFor);
  });
  total++;
  $('#id_' + type + '-TOTAL_FORMS').val(total);
  $(selector).after(newElement);
  }
</script>
{% endblock body_js %}
