{% extends 'druids.html' %}

{% block title %}Eco-gnomy: Lista cuotas de piso{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <br />
      <br />
      <table>
	<thead>
	  <tr>
	    <th>Importe</th>
	    <th>Descripción</th>
	  </tr>
	</thead>
	<tbody>
	  {% for cuota in cuotas %}
	  <tr>
	    <td>{{ cuota.importe }}</td>
	    <td>{{ cuota.descripcion }}</td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ninguna cuota creada.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
